:root {
  --main-text: #434455;
  --background-color: #ffffff;
  --logo-color: #4d5ae5;
  --description-text: #2e2f42;
  --hover-focus-color: #404bbf;
  --section-background-color: #f4f4fd;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}

* {
  margin: 0;
  padding: 0;
  list-style: 0;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text);
  background-color: var(--background-color);
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.header-border {
  border-bottom: 1px solid #e7e9fc;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-text {
  color: var(--description-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  color: var(--hover-focus-color);
}

.logo:hover .logo-text:hover,
.logo:hover .logo-text:focus {
  color: var(--hover-focus-color);
}

.link {
  text-decoration: none;
}
.site-nav,
.adress-list {
  display: none;
}
/* Mobile menu */

.mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 80px 35px 40px 40px;
}

.current-page {
  color: #404bbf;
}
.menu-open-btn {
  display: block;
  top: 24px;
  border: none;
  background-color: transparent;
}

.icon-menu-open {
  stroke: #2e2f42;
}

.menu-close-btn {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-menu-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.current-page {
  color: #404bbf;
}

.mob-menu-items:nth-child(-n + 2) {
  margin-bottom: 40px;
}

.mob-menu-tel {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4d5ae5;
  margin-bottom: 40px;
}

.mob-menu-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mob-menu-adress-link {
  color: #434455;
}

.mob-menu-social {
  margin-top: 48px;
}

.mob-menu-social-list {
  display: flex;
  justify-content: left;
  gap: 56px;
}
.mob-menu-social-item {
  align-items: flex-start;
}
.mob-menu-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-social-icon {
  fill: #f4f4fd;
}

/* Sections */

.section-description {
  background-color: var(--description-text);
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: var(--bg-gradient), url("../images/dark-bg-mob-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-description {
    background-image: var(--bg-gradient), url("../images/dark-bg-mob-2x.jpg");
  }
}

.section-description-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color);
  width: 320px;
  height: 80px;
  margin: auto;
}

.section-description-btn {
  background-color: var(--logo-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  cursor: pointer;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  margin-top: 64px;
  border: transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-description-btn:hover,
.section-description-btn:focus {
  background-color: var(--hover-focus-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 1;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 392px;
  padding: 72px 16px 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.modal-form {
  margin-top: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 40px;
  outline: transparent;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.btn-modal-submit {
  background-color: var(--logo-color);
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  cursor: pointer;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  display: block;
  margin: auto;
  margin-top: 24px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-submit:hover,
.btn-modal-submit:focus {
  background-color: #404bbf;
}

.label-modal {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-checkbox {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-top: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-checkbox span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check {
  display: block;
  position: absolute;
}

.input-check:checked + .label-checkbox span {
  fill: #f4f4fd;
  background: #404bbf;
  border: 1px solid #404bbf;
  border-radius: 2px;
}

.input-check:focus + .label-checkbox span {
  fill: #f4f4fd;
  background: #404bbf;
  border: 1px solid #404bbf;
  border-radius: 2px;
}

.check-hidden {
  visibility: hidden;
}

.label-modal-textarea {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  height: 120px;
  margin-top: 4px;
  padding-top: 8px;
  padding-left: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  border-radius: 4px;
}

textarea:focus {
  border-color: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-wrap {
  position: relative;
}

.btn-modal-close {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:hover,
.btn-modal-close:focus {
  background-color: #404bbf;
}

.btn-modal-close:hover > .btn-modal-icon,
.btn-modal-close:focus > .btn-modal-icon {
  fill: #ffffff;
}

.policy-link {
  color: #4d5ae5;
}

/* Features */

.section-features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-features .item-features {
  width: 100%;
}

.item-features {
  margin-bottom: 72px;
}

.item-features:last-child {
  margin-bottom: 0;
}

.section-features-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--description-text);
  margin-bottom: 8px;
}

.section-features-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: justify;
  color: var(--main-text);
}

.svg-features-block {
  display: none;
}
/* Doing */

.section-doing {
  display: none;
}

.section-doing {
  padding-bottom: 120px;
}

.section-doing-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--description-text);
}

.section-doing-list {
  display: flex;
  margin-top: 72px;
}

.section-doing-list .doing-item + .doing-item {
  margin-left: 24px;
}

/* Team */

.section-team {
  background-color: var(--section-background-color);
  padding-top: 96px;
  padding-bottom: 96px;
}
.section-team-head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--description-text);
  margin-bottom: 72px;
}

.section-team-item {
  background-color: var(--section-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 72px;
}

.section-team-item:last-child {
  margin-bottom: 0px;
}

.section-team-person {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--description-text);
  margin-bottom: 8px;
}

.section-team-person-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text);
  text-align: center;
  margin-bottom: 8px;
}

.team-person-description {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--background-color);
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
  fill: #f4f4fd;
}

.team-social-link:focus,
.team-social-link:hover {
  background-color: #404bbf;
}

/* Customers */

.section-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-customers-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-customers-list {
  display: flex;
  flex-wrap: wrap;
}

.svg-customers-icon {
  height: 100%;
}

.customers-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 88px;
  border: 1px solid #8e8f99;
  fill: #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-customers-item {
  width: calc((100% - 16px * 1) / 2);
}

.section-customers-list .section-customers-item + .section-customers-item {
  margin-left: 16px;
  margin-bottom: 72px;
}
.section-customers-item.section-customers-item:nth-child(2n + 1) {
  margin-left: 0px;
}

.section-customers-item.section-customers-item:nth-child(n + 5) {
  margin-bottom: 0px;
}

.section-customers-item {
  display: flex;
  justify-content: center;
}

.customers-link:hover,
.customers-link:focus {
  fill: #404bbf;
  border-color: #404bbf;
}

/* Footer */

.footer-main {
  background-color: var(--description-text);
  padding-top: 97.5px;
  padding-bottom: 96px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.logo-footer-text {
  line-height: 24px;
  color: var(--section-background-color);
  margin-top: 18px;
}

.footer-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 268px;
  margin: auto;
}

.footer-logo-transition {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-transition:hover,
.footer-logo-transition:focus {
  color: var(--hover-focus-color);
}

.footer-social {
  margin-top: 72px;
  margin-bottom: 72px;
}

.footer-social-title {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-social-link:focus,
.footer-social-link:hover {
  background-color: #31d0aa;
}

.footer-subscribe-title {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-input-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-input-email {
  width: 100%;
  max-width: 398px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background: #2e2f42;
  outline: transparent;
}

.footer-input-email:focus {
  border-color: #4d5ae5;
}

.btn-subscribe-footer {
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 16px;
  padding: 8px 0px;
  background-color: var(--logo-color);
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  cursor: pointer;
  width: 165px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-subscribe-icon {
  margin-left: 16px;
}

.btn-subscribe-footer:hover,
.btn-msubscribe-footer:focus {
  background-color: #404bbf;
}

/* Portfolio */

.section-main {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.section-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  color: var(--logo-color);
  background-color: var(--section-background-color);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list .items + .items {
  margin-left: 24px;
}

.section-btn:hover,
.section-btn:focus {
  color: var(--background-color);
  background-color: var(--hover-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--hover-focus-color);
}

/* Services */

.services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.item {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
}

.item:nth-child(3n) {
  margin-right: 0px;
}

.item:nth-child(n + 6) {
  margin-bottom: 0px;
}

.sevices-link {
  display: block;
}

.item:hover .services-cover-text {
  transform: translate(0);
}

.services-cover-wrap {
  position: relative;
  overflow: hidden;
}

.services-cover-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sevices-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-service-descrip {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--description-text);
}
.section-service-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text);
  margin-top: 8px;
}

.section-service-border {
  border: 1px solid #e7e9fc;
  border-top: transparent;
}

.section-service-card {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Media */

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
  .section-team > .container {
    width: 296px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .section-team > .container {
    width: 552px;
  }

  .section-customers > .container {
    width: 584px;
  }

  .footer-main > .container {
    width: 584px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .mob-menu {
    display: none;
  }

  .menu-open-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .site-nav {
    display: flex;
    margin-left: 120px;
  }

  .site-nav .items {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--description-text);
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .site-nav .items + .items {
    margin-left: 40px;
  }

  .nav-list-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .current-page {
    position: relative;
    color: #404bbf;
  }

  .current-page::after {
    content: "";

    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -27px;
    background: #404bbf;
    border-radius: 2px;
  }

  .nav-list-item:hover,
  .nav-list-item:focus {
    color: var(--hover-focus-color);
  }

  .nav-list-item:hover > .current-page::after,
  .nav-list-item:focus > .current-page::after {
    color: var(--hover-focus-color);
  }

  .adress-list {
    display: flex;

    font-style: normal;
    margin-left: auto;
  }

  .adress-items {
    display: flex;
    flex-direction: column;
  }

  .adress-list-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--main-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .section-description {
    background-image: var(--bg-gradient), url("../images/dark-bg-tab-1x.jpg");
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-description {
      background-image: var(--bg-gradient), url("../images/dark-bg-tab-2x.jpg");
    }
  }

  .section-description-item {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    width: 496px;
    height: 120px;
  }

  .modal {
    width: 408px;
    padding: 72px 25px 24px 23px;
  }

  .section-features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .section-features .item-features {
    width: calc((100% - 24px) / 2);
  }

  .item-features {
    margin-right: 24px;
  }

  .item-features:nth-child(2n + 2) {
    margin-right: 0px;
  }

  .item-features:nth-child(n + 3) {
    margin-bottom: 0px;
  }

  .section-features-item {
    text-align: left;
  }

  .section-team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .section-team-item {
    margin-bottom: 64px;
    flex-basis: calc((100% - 24px) / 2);
  }

  .section-team-list .section-team-item + .section-team-item {
    margin-left: 24px;
  }
  .section-team-item.section-team-item:nth-child(3) {
    margin-left: 0px;
  }

  .section-team-item.section-team-item:nth-child(n + 3) {
    margin-bottom: 0px;
  }

  .section-customers-item {
    width: calc((100% - 24px * 2) / 3);
  }
  .section-customers-list .section-customers-item + .section-customers-item {
    margin-left: 24px;
  }
  .section-customers-item.section-customers-item:nth-child(3n + 1) {
    margin-left: 0px;
  }

  .section-customers-item.section-customers-item:nth-child(n + 4) {
    margin-bottom: 0px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-size {
    display: block;
    max-width: 264px;
    margin: 0px;
  }

  .footer-social {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 24px;
  }

  .footer-social-title {
    display: block;
  }

  .footer-subscribe {
    margin-top: 72px;
  }

  .footer-subscribe-title {
    text-align: left;
  }

  .footer-input-email {
    width: 264px;
  }
  .footer-input-wrap {
    flex-direction: row;
  }
  .btn-subscribe-footer {
    margin-top: 0px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .site-nav {
    margin-left: 76px;
  }

  .adress-list {
    display: block;
    font-style: normal;
    margin-left: auto;
  }
  .adress-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }

  .adress-items {
    flex-direction: row;
  }

  .adress-items .items + .items {
    margin-left: 40px;
  }

  .adress-list-item:hover,
  .adress-list-item:focus {
    color: var(--hover-focus-color);
  }

  .section-description {
    background-image: var(--bg-gradient), url("../images/dark-bg-desk-1x.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-description {
      background-image: var(--bg-gradient), url("../images/dark-bg-desk-2x.jpg");
    }
  }

  .section-features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-features-list {
    display: flex;
  }

  .section-features-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--description-text);
    margin-bottom: 8px;
  }

  .item-features {
    margin-bottom: 0px;
  }
  .item-features:nth-child(2n + 2) {
    margin-right: 24px;
  }

  .item-features:nth-child(4) {
    margin-right: 0px;
  }

  .section-features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text);
  }
  .svg-features-block {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .section-features .item-features {
    width: calc((100% - 24px * 3) / 4);
  }

  .modal {
    padding: 72px 24px 24px;
  }

  .section-doing {
    display: block;
  }

  .section-team > .container {
    width: 1158px;
  }
  .section-team-list {
    display: flex;
  }
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-team-item {
    margin-bottom: 0px;
    flex-basis: calc((100% - 72px) / 4);
  }
  .section-team-item.section-team-item:nth-child(1) {
    margin-left: 0px;
  }
  .section-team-item.section-team-item:nth-child(3) {
    margin-left: 24px;
  }
  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-customers-list {
    box-sizing: border-box;
  }
  .section-customers-item {
    width: calc((100% - 24px * 5) / 6);
  }
  .section-customers-item.section-customers-item:nth-child(4) {
    margin-left: 24px;
  }
  .section-customers-item.section-customers-item:nth-child(n) {
    margin-bottom: 0px;
  }

  .footer-main {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-size {
    display: block;
    max-width: 264px;
    margin: 0px;
  }

  .footer-social {
    width: 208px;
    height: 80px;
    margin-left: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer-social-title {
    display: block;
  }

  .footer-subscribe {
    margin-top: 0px;
    margin-left: 80px;
  }

  .footer-subscribe-title {
    justify-content: left;
  }

  .footer-input-wrap {
    margin: 0px;
  }
}
